#steam-card-tracker
  .games
    .game
      border-top: 1px dotted $main
      margin-bottom: 4px
      &:last-of-type
        border-bottom: 1px dotted $main
      .game-title
        margin-bottom: 6px
        font-size: 1.2em
        cursor: pointer
      .game-cards
        min-height: 400px
