#steam-card-tracker
  .scroll-top
    font-size: 4em
    display: none
    position: fixed
    right: 20px
    bottom: 0
  .header
    font-size: 2em
    margin: 0.5em 0.25em
    .app-title
      font-weight: bold
      .add-game
        text-decoration: none
        cursor: default
        color: $main
      .search
        vertical-align: middle
        margin-left: 0.5em
