#steam-card-tracker
  .scroll-top
    font-size: 4em
    display: none
    position: fixed
    right: 20px
    bottom: 0
  .header
    font-size: 2em
    margin: 0.5em 0.25em
    .app-title
      font-weight: bold
      .add-game
        text-decoration: none
        cursor: default
        color: $main
      .search
        vertical-align: middle
        margin-left: 0.5em
  .games
    .game
      padding-left: 0.5em
      border-top: 1px dashed $main
      &:nth-of-type(odd)
        background-color: white
      .game-title
        padding: 0.5em 0
        font-size: 1.2em
        cursor: pointer
        .reload-game, .time-to-load
          margin-left: 0.25em
      .game-cards
        min-height: 400px
        text-align: left
        .game-items
          display: inline-block
          width: 275px
          margin-left: -4px
          .game-item
            margin-bottom: 2px
            a
              text-decoration: none
              color: $main
            .left, .right
              vertical-align: top
              display: inline-block
            .right .prices
              margin-top: 6px
              .low, .high, .current
                display: inline
                line-height: 0.6em
                vertical-align: top
              .current
                font-size: 2em
        .game-chart
          display: inline-block
          float: right
          height: 400px
