#steam-card-tracker
  .scroll-top
    font-size: 4em
    display: none
    position: fixed
    right: 50%
    bottom: 0
    cursor: pointer
  .header
    font-size: 2em
    margin: 0.5em 0.25em
    .app-title
      font-weight: bold
      cursor: default
      .left
        .search
          background-color: $background
          border: 0
          font-size: 0.6em
          margin-left: 0.5em
          vertical-align: middle
      .right
        float: right
        cursor: pointer
        .load-all-games, .sort-name, .sort-price
          margin-left: 0.5em
  .games
    .game
      border-top: 1px dashed $main
      &:nth-of-type(odd)
        background-color: $white
      .game-title
        padding: 0.5em
        font-size: 1.2em
        &:hover
          background-color: $info
        .toggle-game
          cursor: pointer
        .time-to-load, .updated-today
          float: right
          margin-right: 0.5em
        .reload-game
          cursor: pointer
          float: right
      .game-cards
        padding-left: 0.5em
        min-height: 400px
        text-align: left
        .game-items
          display: inline-block
          width: 275px
          margin-left: -4px
          .game-item
            margin-bottom: 2px
            a
              text-decoration: none
              color: $main
            img
              height: 4em
            .left, .right
              vertical-align: top
              display: inline-block
            .right .prices
              margin-top: 6px
              .low, .high, .current
                display: inline
                line-height: 0.6em
                vertical-align: top
              .current
                font-size: 2em
        .game-chart
          display: inline-block
          float: right
          height: 400px
