.game-title
  %span.collapse.toggle-game{ :id => '{{game.id}}' }
    %span.name {{game.name}}
    %span.icon
      = icon('angle-down')
      = icon('angle-up', '', style: 'display: none')
  %span.reload-game{ :id => '{{game.id}}' }
    = icon('refresh')
  %span.time-to-load

.game-cards{ style: 'display:none' }
  .game-items
    .game-item{ 'ng-repeat' => 'item in game.items' }
      = render 'item'
  .game-chart
