.regular
  .game-items
    .game-item{ 'ng-repeat' => 'item in game.regular_items' }
      = render 'item'
  .game-chart{ :type => 'regular', :game => 'game' }

.foil{ :style => 'display: none' }
  .game-items
    .game-item{ 'ng-repeat' => 'item in game.foil_items' }
      = render 'item'
  .game-chart{ :type => 'foil', :game => 'game' }
