#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    %span.app-title
      Steam
      %a.add-game{ 'ng-href' => '/games/new' } Card
      Tracker

  .games
    .game{ 'ng-repeat' => 'game in games' }
      = render 'game'

  .scroll-top
    = icon('angle-double-up')
