%script{ :type => 'text/ng-template', :id => 'game.html' }
  = render 'game'

#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    %span.app-title Steam Card Tracker
    %span.app-actions
      %i.icon.icon-double-angle-down.load-all
      %i.icon.icon-double-angle-up.collapse-all

  .games
    .game{ 'ng-repeat' => 'game in games' }
      .game-title
        %span.collapse.show-game{ 'game-id' => '{{game.id}}' }
          %span.name {{game.name}}
          %i.icon.icon-angle-down
          %i.icon.icon-angle-up{ :style => 'display: none' }
        %span.toggle-type{ :style => 'display: none' }
          %i.icon.icon-star-empty
          %i.icon.icon-star{ :style => 'display: none' }

      .loading{ :style => 'display: none' }
        %i.icon.icon-refresh.icon-spin.loading-icon
