%script{ :type => 'text/ng-template', :id => 'game.html' }
  = render 'game'

#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    %span.app-title
      Steam
      %a.add-game{ 'ng-href' => '/games/new' } Card
      Tracker
    %span.app-actions
      %span.collapse.icons
        %i.icon.icon-double-angle-down.expand-all
        %i.icon.icon-double-angle-up.collapse-all

  .games
    .game{ 'ng-repeat' => 'game in games' }
      .game-title
        %span.collapse.show-game{ :id => '{{game.id}}' }
          %span.name {{game.name}}
          %i.icon.icon-angle-down
          %i.icon.icon-angle-up{ :style => 'display: none' }
        %span.toggle-type
          %i.icon.icon-star-empty
          %i.icon.icon-star{ :style => 'display: none' }
        %span.loading{ :style => 'display:none' }
          %i.icon.icon-refresh.icon-spin.loading-icon

      .game-cards{ :style => 'display: none' }

  .scroll-top
    %i.icon.icon-double-angle-up
