%script{ :type => 'text/ng-template', :id => 'game.html' }
  = render 'game'

#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    .app-title Steam Card Tracker

  .games
    .game{ 'ng-repeat' => 'game in games' }
      %span.game-title.show-game{ 'game-id' => '{{game.id}}' }
        %span.name {{game.name}}
        %span.collapse
          %i.icon.icon-angle-down
          %i.icon.icon-angle-up{ :style => 'display: none' }
      %span.toggle-type
        %i.icon.icon-star-empty
        %i.icon.icon-star{ :style => 'display: none' }

      .loading{ :style => 'display: none' }
        %i.icon.icon-refresh.icon-spin.loading-icon
