#steam-card-tracker{ 'ng-controller' => 'GamesController' }
  .header
    %span.app-title
      Steam
      = link_to 'Card', games_path, class: 'add-game'
      Tracker
      %input{ 'ng-model' => 'query', class: :search, placeholder: 'Filter games by name' }

  .games
    .game{ 'ng-repeat' => 'game in games | filter:query' }
      = render 'game'

  .scroll-top
    = icon('angle-double-up')
