development:
  adapter: mysql2
  encoding: utf8
  database: steam_development
  username: root
  password:
  host: localhost

test:
  adapter: mysql2
  encoding: utf8
  database: steam_test
  username: root
  password:
  host: localhost
