#steam-card-tracker
  .games
    .game
      margin-bottom: 4px

      .game-title
        font-size: 1.2em
        cursor: pointer
        @include user-select(none)

        .collapse
          margin: 0 4px

      .toggle-type
        font-size: 1.2em

      .loading
        padding-top: 10px

        .loading-icon
          margin-left: 10px
          margin-bottom: 10px
          font-size: 4em
