#steam-card-tracker
  .games
    .game
      margin-bottom: 4px

      .game-title
        margin-bottom: 6px
        font-size: 1.2em
        cursor: pointer
      
      .game-cards
        min-height: 400px
