body
  font-family: 'Ubuntu Condensed', sans-serif
  background-color: ghostwhite
  color: $main

  .success
    color: $success

  .info
    color: $info

  .warning
    color: $warning

  .icon
    cursor: pointer
    margin-left: 4px

#steam-card-tracker
  .header
    font-size: 2em
    @include user-select(none)

    .app-title
      font-weight: bold

  .scroll-top
    font-size: 4em
    display: none
    position: fixed
    right: 20px
    bottom: 0
