.game
  margin-top: 10px
  min-height: 500px
  border-top: 1px solid #c0c0c0

  h3
    margin: 10px 0

  .game-items
    display: inline-block

  .game-chart
    display: inline-block
    float: right
    width: 80%
    height: 460px

  .steam-card-tracker-listing
    a
      text-decoration: none
      color: black

    .left, .right
      vertical-align: top
      display: inline-block
